*{
    margin:0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(209, 185, 233);
    
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10%;
    background-color: rgb(252, 252, 255);
}
.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 75%;
    background-color: gainsboro;
}
.child{
    margin: 10px;
    width: 25%;
    height: 70%;
    background-color: rgb(255, 255, 255);
}
.top{
    width: 100%;
    height: 50%;
    background-color: rgb(250, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top img{
    margin-top:-15px;
    width:95%;
    height:100%;

}
.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 35%;
    background-color: rgb(252, 245, 251);
}
.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: rgb(250, 250, 250);
}
.acc{
    margin: 5px;
    width: 10%;
    height: 50%;
    background-color: rgb(166, 115, 211);
}